# Use Docker Build

RELEASE_VERSION=
CLOUDFLARE_TUNNEL_TOKEN=
VITE_CLIENT_APP_BASE_URL=

# Use BFF Server Application

# - Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI_AUTH=
GOOGLE_REDIRECT_URI_PHOTOS=

# - Hono Configuration
BFF_SESSION_SECRET=
BFF_APP_PORT=

# - Database Configuration
REDIS_HOST=
REDIS_PORT=
REALM_PATH=

# Use Client Application

# - Cloudflare URL for Server
VITE_BFF_BASE_URL=
VITE_VAPID_PUBLIC_KEY=
VITE_GOOGLE_API_BASE_URL_CALENDAR=
VITE_GOOGLE_API_BASE_URL_PEOPLE=
VITE_GOOGLE_API_BASE_URL_PHOTOSLIBRARY=
VITE_GOOGLE_API_BASE_URL_PHOTOSPICKER=
VITE_GOOGLE_API_BASE_URL_DRIVE=
